body {
	font-family: 'Roboto', sans-serif;
	font-size: 24pt;
	color: #151515;
	background-color: #fafffa;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 50pt;
	text-align: center;
	margin: 10px;
}

.drawingCanvas {
	height: 500px;
	width: 100%;
	/* top, rl, bottom */
	background-color: #eaeaea;
}

.canvasDiv {
	position: relative;
	margin: 0;
}

.canvasText {
	position: absolute;
	font-size: 10pt;
	bottom: 25px;
	left: 25px
}

foot {
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	text-align: right;
	color: #151515;
	background-color: #fff;
}
