body {
	font-family: 'Roboto', sans-serif;
	font-size: 24pt;
	color: #151515;
	background-color: #fafffa;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 50pt;
	text-align: center;
	margin: 10px;
}

.drawingCanvas {
	height: 500px;
	width: 100%;
	/* top, rl, bottom */
	background-color: #eaeaea;
}

.canvasDiv {
	position: relative;
	margin: 0;
}

.canvasText {
	position: absolute;
	font-size: 10pt;
	bottom: 25px;
	left: 25px
}

.canvasButton {
	position: absolute;
	font-size: 10pt;
	top: 25px;
	right: 25px;
	background: inherit;
	border: none;
}

.canvasButton:hover {
	color: #3f573d;
}

foot {
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	text-align: right;
	color: #151515;
	background-color: #fff;
}

.inlineButton {
	border: none;
	background: none;
	font-size: 20pt;
	font-weight: bold;
}

.inlineButton:hover {
	color: #3f573d;
}

.inlineInput {
	border: none;
	background: none;
}
